:root{
    --main-bg-color: #3aafa9;
    --main-font-color: #17252a;
    --header-font-color: #feffff;
    --second-bg-color: #2b7a78;
    --light-font-color: #def2f1;
}

* {
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.light-font{
    color: var(--light-font-color);
}

html{
    height: 100%;
}

body{
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    letter-spacing: 1px;
}

nav{
    height: 3rem;
    top: 0;
    width: 100%;
    background-color: var(--second-bg-color);
}

nav>ul{
    width: 1024px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav>ul>li{
    display: block;
    margin: 1rem;
    padding: 1rem;
}

nav>ul>li>a{
    color: var(--light-font-color);
    transition: 0.5s;
}

nav>ul>li>a.active{
    text-decoration: none;
}

nav>ul>li>a:hover{
    color: var(--main-bg-color)
}

main{
    width: 1024px;
    padding: 1rem;
    flex: 1;
    text-align: center;
}

#main-info{
    display: flex;
    text-align: left;
}

#main-info::after{
    display: none;
}

main h1{
    color: var(--header-font-color);
    text-transform: uppercase;
    padding: 0.5rem;
}

main h2{
    color: var(--light-font-color);
    text-transform: uppercase;
    padding: 0.5rem;
}

.main_photo
{
    height: 10rem;
    border-radius: 10rem;
    margin: 1rem;
}

.FIO{
    align-self: center;
    padding: 2rem;
}

main h3{
    color: var(--header-font-color);
    text-transform: uppercase;
    padding: 0.5rem;
}

main code{
    text-align: left;
    background-color: var(--light-font-color);
    display: block;
    padding: 1.5rem;
}

main>div::after{
    display: block;
    width: 50%;
    content: "";
    text-align: center;
    border-bottom: 1px solid var(--light-font-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#contact-info
{
    text-align: center;
    padding: 1rem;
}

main ul>li{
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

footer{
    height: 2rem;
    width: 100%;
    background-color: var(--second-bg-color);
    padding: 1rem 0;
}

.footer_main{
    width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    color: var(--main-font-color);
}

.footer_links{
    margin-right: auto;
    width: 50%;
    text-align: right;
}

.footer_links> a> img{
    height: 1.5rem;
}

.footer_info{
    width: 50%;
}